body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(249, 247, 254);
}
img{
    margin-bottom: 40px;
}

.wrapper {
  background-color: #fff;
  margin: 60px auto;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 30px 50px rgb(65, 50, 100 / 8%);
  max-width: 780px;
}

